<html>
<head>
    <title> test </title>
    <style type="text/css">
    body {
        color: red;
        font-size: 30px;
    }
    button, input {
        font-size: 30px;
    }
    .block {
        display: block;
    }
    </style>
</head>
<body>
{% if message is not none %}
<div>{{message}}</div>
{% endif %}
<form action="/my_code" method="post">
    <div class="block">ユーザー名: <input name="username" type="text" value="{{username}}"/></div>
    <div class="block">パスワード: <input name="password" type="password" value="{{password}}"/></div>
    <div class="block"><button type='submit' name='action' value='register'>登録</button></div>
</form>
</body>
</html>