<html>
<head>
<title> test </title>
<style type="text/css">
body {
    color: red;
}
</style>
</head>
<body>
<h1>メニュー</h1>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/hello/guest">ゲストページ</a></li>
<li><a href="/login">ログイン</a></li>
</ul>
    {% block content %} {% endblock %}
</body>
</html>